services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    env_file:
      - .env
    volumes:
      - ${QBITTORRENT_CONFIG_PATH}:/config
      - ${QBITTORRENT_DOWNLOAD_PATH}:/downloads
    network_mode: "container:gluetun"
    restart: unless-stopped
