services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - ${HOMEPAGE_PORT}:${HOMEPAGE_PORT}
    env_file:
      - .env
    volumes:
      - ${HOMEPAGE_CONFIG_PATH}:/app/config
